*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #111;
    position: relative;
    color: white;
}
.elem{
    height: 120px;
    width: 100%;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.elem h1{

    font-size: 4vw;
    font-family: futura, sans-serif;
    text-transform: uppercase;
    z-index: 9;
    mix-blend-mode: difference;
}

.elem img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all linear 0.3s;  
}




/* // var elemimg = document.querySelector(".elem1 img")

// elem1.addEventListener("mousemove", function(dets){
//     elemimg.style.left = dets.x+"px"
//     elemimg.style.top = dets.y+"px"
// })

// elem1.addEventListener("mouseenter", function(dets){
//     elemimg.style.opacity = 1
// })

// elem1.addEventListener("mouseleave", function(dets){
//     elemimg.style.opacity = 0
// }) */